/*###################*/
/*##### GENERAL #####*/
/*###################*/

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/*#######################*/
/*##### RESTAURANTS #####*/
/*#######################*/

#restaurants{
    background-color: grey;
    .card-link{
        border: green 2px solid;
        background-color: yellow;
        display: flex;
        flex-direction: column;
        width: 90%;
        .card{
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        .card img{
            border: red 2px solid;
            object-fit: cover;
            height: 300px;
            width: 100%;
        }
    }
}

/*###########################*/
/*##### END RESTAURANTS #####*/
/*###########################*/
