@import "./Utils/variables";
@import "./Utils/mixins";
@import "./Components/button";
@import "./Layout/header";
@import "./Layout/footer";
@import "./Pages/index";
@import "./Pages/restaurants";


/*###################*/
/*##### GENERAL #####*/
/*###################*/

*,
::after,
a:visited {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}