/*########################*/
/*##### GOOGLE FONTS #####*/
/*########################*/
@import url(https://fonts.googleapis.com/css?family=Shrikhand);
@import url(https://fonts.googleapis.com/css?family=Roboto);
/*##################*/
/*##### COLORS #####*/
/*##################*/
/*###################*/
/*##### GENERAL #####*/
/*###################*/
*,
a:visited {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
}

/*##################*/
/*##### HEADER #####*/
/*##################*/
.header {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}
.header__logo {
  width: 170px;
  height: 30px;
}

/*####################*/
/*##### LOCATION #####*/
/*####################*/
.location {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px inset;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
}
.location__icon {
  margin-right: 25px;
  font-size: 20px;
}
.location__text {
  font-family: "Roboto";
}

/*########################*/
/*##### PRESENTATION #####*/
/*########################*/
.presentation {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 30px 30px 30px;
}
.presentation h1 {
  font-family: "Roboto";
  width: 70%;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.presentation p {
  font-family: "Roboto";
  width: 100%;
  text-align: center;
  margin-top: 15px;
  font-size: 18px;
}
.presentation .link__restaurant {
  background-color: #9356DC;
  background: linear-gradient(to left top, #9356DC, #FF79DA);
  color: white;
  font-family: "Roboto";
  margin-top: 30px;
  margin-bottom: 25px;
  padding: 15px 25px 15px 25px;
  border-radius: 30px 30px 30px 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/*#######################*/
/*##### FUNCTIONING #####*/
/*#######################*/
.functioning-section {
  border: yellow 2px solid;
  height: 440px;
}
.functioning-section h2 {
  border: blue 2px solid;
  font-family: "Roboto";
  margin-top: 45px;
  letter-spacing: 0.5px;
  margin-bottom: 25px;
}
.functioning-section .functioning {
  border: green 2px solid;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.functioning-section .functioning__element {
  border: red 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  border-radius: 20px;
  padding: 25px 5px 25px 5px;
  font-family: "Roboto";
  font-weight: 600;
}
.functioning-section .functioning__element .functioning__number {
  border: 2px #9356DC solid;
  background-color: #9356DC;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  color: white;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -90px;
}
.functioning-section .functioning__element .functioning__icon {
  border: blue 2px solid;
  margin-right: 25px;
  color: #7E7E7E;
  margin-left: 20px;
  display: flex;
  font-size: 18px;
}

/*#######################*/
/*##### RESTAURANTS #####*/
/*#######################*/
#restaurants {
  background-color: grey;
}
#restaurants .card-link {
  border: green 2px solid;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  width: 90%;
}
#restaurants .card-link .card {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#restaurants .card-link .card img {
  border: red 2px solid;
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
  width: 100%;
}

/*###########################*/
/*##### END RESTAURANTS #####*/
/*###########################*//*# sourceMappingURL=main.css.map */