/*##################*/
/*##### LOADER #####*/
/*##################*/

.loader {
    background-image: linear-gradient(to left top, $primary-color, $secondary-color);
    height: 100%;
    width: 100%;
    font-size: 200%;
    font-family: $text-font;
/*    -webkit-animation: display 3s;
    animation: display 3s;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    
    /*
    -webkit-animation: off 1s;
    animation: off 1s;
/*
    -webkit-transform: scale(0);
    transform: scale(0);


*/
    transition: z-index 6s, opacity 5s ease-in;
    opacity: 0;
    z-index: -1;

    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    &__base {
        width: 50px;
        height: 50px;
        display: inline-block;
        vertical-align: middle;
    }

    &__element {
        border-radius: 50px;
        border: 6px solid transparent;
        border-top-color: $secondary-color;
        border-bottom-color: $secondary-color;
        -webkit-animation: spin 4s linear infinite;
        animation: spin 4s linear infinite;

        &::after {
            content: "";
            position: absolute;
            top: 5px;
            left: 5px;
            right: 5px;
            bottom: 5px;
            border: 6px solid transparent;
            border-top-color: $primary-color;
            border-bottom-color: $primary-color;
            border-radius: 50px;
            -webkit-animation: spin 4s linear infinite;
            animation: spin 4s linear infinite;
            opacity: 0.6;
        }

        @keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @-webkit-keyframes display {
            0% {
                z-index: 10;
                opacity: 1;
            }

            100% {
                z-index: -1;
                opacity: 0;
            }
        }

        @keyframes display {
            0% {
                z-index: 10;
                opacity: 1;
            }

            100% {
                z-index: -1;
                opacity: 0;
            }
        }


        @keyframes off {
            0% {
                -webkit-transform: scale(0);
                transform: scale(0);
            }

            100% {
                -webkit-transform: scale(0);
                transform: scale(0);
            }
        }

    }
}

/*##################*/
/*##### HEADER #####*/
/*##################*/

.header {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;

    &__logo {
        width: 170px;
        height: 30px;
    }
}

/*####################*/
/*##### LOCATION #####*/
/*####################*/

.location {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px inset;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $bg-dark-grey;

    &__icon {
        margin-right: 25px;
        font-size: 20px;
    }

    &__text {
        font-family: $text-font;
    }
}

/*########################*/
/*##### PRESENTATION #####*/
/*########################*/

.presentation {
    background-color: $bg-light-grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 20px 30px 20px;

    & h1 {
        font-family: $text-font;
        width: 70%;
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        letter-spacing: .5px;
    }

    & p {
        font-family: $text-font;
        width: 100%;
        text-align: center;
        margin-top: 15px;
        font-size: 18px;
    }

    & .link__restaurants {
        background: linear-gradient(to left top, $primary-color, $secondary-color);
        font-family: $text-font;
        margin-top: 30px;
        margin-bottom: 25px;
        padding: 15px 25px 15px 25px;
        border-radius: 30px 30px 30px 30px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 15px;
            @include btn-restaurants-lightening();
        }

        .link__text {
            color: white;
        }
    }
}

/*#######################*/
/*##### FUNCTIONING #####*/
/*#######################*/

.functioning-section {
    height: 400px;

    h2 {
        font-family: $text-font;
        margin-top: 50px;
        letter-spacing: .5px;
        margin-bottom: 30px;
        margin-left: 15px;
        font-size: 23px;
    }

    .functioning {
        height: 270px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &__element {
            background-color: $bg-light-grey;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 85%;
            border-radius: 20px;
            padding: 25px 5px 25px 5px;
            font-family: $text-font;
            font-weight: 600;

            .functioning__number {
                border: 2px $primary-color solid;
                background-color: $primary-color;
                height: 20px;
                width: 20px;
                border-radius: 20px;
                color: white;
                font-size: 13px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: -17px;
            }

            .container__icon {
                display: flex;
                justify-content: center;
                height: 20px;
                width: 40px;
                margin-right: 10px;
                margin-left: 10px;

            }

            .functioning__icon {
                color: #7E7E7E;
                font-size: 18px;

                &--purple {
                    color: $primary-color;
                }
            }
        }


    }
}

/*#######################*/
/*##### RESTAURANTS #####*/
/*#######################*/

#restaurants {
    background-color: $bg-light-grey;
    font-family: $text-font;
    padding-top: 50px;
    padding-bottom: 70px;

    .restaurants__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    h2 {
        width: 90%;
        font-weight: 700;
        margin-bottom: 5px;
        font-size: 22px;
        letter-spacing: .5px;
    }

    .card-link {
        background-color: #FFFFFF;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 250px;
        margin-top: 15px;

        .card {
            display: flex;
            flex-direction: column;
            width: 100%;

            img {
                object-fit: cover;
                height: 170px;
                width: 100%;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }

            .new-restaurant {
                background-color: $bg-new-restaurant;
                color: $text-color-new-restaurant;
                font-family: $text-font;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 60%;
                width: 80px;
                height: 30px;
                margin-top: 10px;
                font-size: 13px;
                font-weight: 600;
                letter-spacing: .2px;
                position: absolute;
                z-index: 1;
            }

            .card-content {
                display: flex;
                flex-direction: row;
                height: 70px;

                .card-txt {
                    padding-left: 10px;
                    width: 80%;
                    height: 100%;

                    .card-title {
                        font-size: 17px;
                        letter-spacing: .5px;
                        padding-top: 15px;
                        padding-bottom: 5px;
                    }
                }

                .heart__icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 25px;
                    height: 28px;
                    margin-top: 20px;
                    margin-left: 20px;

                    &:hover {
                        background: linear-gradient(to left top, $primary-color, $secondary-color);
                        color: linear-gradient(to left top, $primary-color, $secondary-color);
                        -webkit-background-clip: text;
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                        -moz-background-clip: text;
                        -moz-text-fill-color: transparent;
                        font-weight: bold;


                    }

                }
            }

        }
    }
}

/*###########################*/
/*##### END RESTAURANTS #####*/
/*###########################*/

/*##################*/
/*##### FOOTER #####*/
/*##################*/

.footer {
    background-color: $bg-footer;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 145px;

    .footer__title {
        color: white;
        font-family: $logo-and-titles-font;
        padding-bottom: 15px;
        font-size: 18px;
    }

    .footer__link__container {
        display: flex;
        flex-direction: column;
    }

    .footer__first__link {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .footer__second__link {
        display: flex;
        flex-direction: column;
    }

    .footer__link {
        display: flex;
        color: white;
        font-family: $text-font;
        font-size: 15px;
        margin: 4px;

        .container__icon {
            display: flex;
            justify-content: flex-start;
            height: 20px;
            width: 20px;

            .footer__icon {
                color: white;
                font-size: 13px;
                margin-right: 10px;
                margin-top: 2px;
                --fa-rotate-angle: -45deg;
            }
        }
    }
}


/**************************************************** Media queries ****************************************************/

/***************************** Large devices (desktop, more/equal than 1024px) *****************************/

@media all and (min-width: 1024px) {

    /*#######################*/
    /*##### FUNCTIONING #####*/
    /*#######################*/

    .functioning-section {

        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        height: 180px;

        h2 {
            margin-left: 0;
        }

        .functioning {
            flex-direction: row;
            height: 80px;

            &__element {
                width: 30%;
            }
        }
    }

    /*#######################*/
    /*##### RESTAURANTS #####*/
    /*#######################*/

    #restaurants {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 10px;
        height: 600px;

        .restaurants__container {
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        h2 {
            width: 100%;
            margin-left: 0;
        }

        .card-link {
            width: 45%;

            .card {
                .new-restaurant {
                    margin-left: 28%;

                }

                .card-content {

                    .card-icon {
                        margin-left: 30px;
                    }
                }
            }
        }
    }

    /*##################*/
    /*##### FOOTER #####*/
    /*##################*/

    .footer {
        flex-direction: row-reverse;
        height: 85px;
        padding: 0;

        .footer__title {
            width: 240px;
            height: 40px;
            margin-top: 25px;
            display: flex;
            justify-content: center;
            font-size: 18px;
        }

        .footer__link__container {
            flex-direction: row;
            height: 40px;
            margin-top: 30px;
            width: 600px;
            justify-content: space-between;
        }

        .footer__first__link {
            flex-direction: row;
            width: 400px;
            font-weight: 500;
        }

        .footer__second__link {
            flex-direction: row;
            width: 200px;
            justify-content: space-between;
        }

        .footer__link {
            font-size: 16px;
        }
    }

}