/*##################*/
/*##### LOADER #####*/
/*##################*/

.loader {
    background: linear-gradient(to left top, $primary-color, $secondary-color);
    height: 100%;
    width: 100%;
    font-size: 200%;
    font-family: $text-font;
    -webkit-animation: display-loader both;
    animation: display-loader both;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    &__base {
        width: 50px;
        height: 50px;
        display: inline-block;
        vertical-align: middle;
    }

    &__element {
        border-radius: 50px;
        border: 6px solid transparent;
        border-top-color: $secondary-color;
        border-bottom-color: $secondary-color;
        -webkit-animation: spin 3s linear infinite;
        animation: spin 3s linear infinite;

        &::after {
            content: "";
            position: absolute;
            top: 5px;
            left: 5px;
            right: 5px;
            bottom: 5px;
            border: 6px solid transparent;
            border-top-color: $primary-color;
            border-bottom-color: $primary-color;
            border-radius: 50px;
            -webkit-animation: spin 3s linear infinite;
            animation: spin 3s linear infinite;
            opacity: 0.6;
        }

        /* keyframe loader rotation */
        @keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        /* keyframe loader display */
        @-webkit-keyframes display-loader {
            0% {
                z-index: 10;
                opacity: 1;
            }

            50% {
                opacity: 0.4;
            }

            100% {
                z-index: -1;
                opacity: 0;
            }
        }

        @keyframes display-loader {
            0% {
                z-index: 10;
                opacity: 1;
            }

            100% {
                z-index: -1;
                opacity: 0;
            }
        }
    }
}

/*####################*/
/*##### LOCATION #####*/
/*####################*/

.location {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px inset;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $bg-dark-grey;

    &__icon {
        margin-right: 25px;
        font-size: 20px;
    }

    &__text {
        font-family: $text-font;
    }
}

/*########################*/
/*##### PRESENTATION #####*/
/*########################*/

.presentation {
    background-color: $bg-light-grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 20px 30px 20px;

    & h1 {
        font-family: $text-font;
        width: 70%;
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        letter-spacing: .5px;
    }

    & p {
        font-family: $text-font;
        width: 100%;
        text-align: center;
        margin-top: 15px;
        font-size: 18px;
    }

    & .link__restaurants {

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 15px;
            @include btn-lightening();
        }

        .link__text {
            color: white;
        }
    }
}

/*#######################*/
/*##### FUNCTIONING #####*/
/*#######################*/

.functioning-section {
    height: 400px;

    h2 {
        font-family: $text-font;
        margin-top: 50px;
        letter-spacing: .5px;
        margin-bottom: 30px;
        margin-left: 15px;
        font-size: 23px;
    }

    .functioning {
        height: 270px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &__element {
            background-color: $bg-light-grey;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 85%;
            border-radius: 20px;
            padding: 25px 5px 25px 5px;
            font-family: $text-font;
            font-weight: 600;

            .functioning__number {
                border: 2px $primary-color solid;
                background-color: $primary-color;
                height: 20px;
                width: 20px;
                border-radius: 20px;
                color: white;
                font-size: 13px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: -17px;
            }

            .icon__container {
                display: flex;
                justify-content: center;
                height: 20px;
                width: 40px;
                margin-right: 10px;
                margin-left: 10px;

            }

            .functioning__icon {
                color: #7E7E7E;
                font-size: 18px;

                &--purple {
                    color: $primary-color;
                }
            }
        }
    }
}

/*#######################*/
/*##### RESTAURANTS #####*/
/*#######################*/

#restaurants {
    background-color: $bg-light-grey;
    font-family: $text-font;
    padding-top: 50px;
    padding-bottom: 70px;

    .restaurants__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    h2 {
        width: 90%;
        font-weight: 700;
        margin-bottom: 5px;
        font-size: 22px;
        letter-spacing: .5px;
    }

    .restaurant__link {
        background-color: #FFFFFF;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 250px;
        margin-top: 15px;

        .restaurant__card {
            display: flex;
            flex-direction: column;
            width: 100%;

            img {
                object-fit: cover;
                height: 170px;
                width: 100%;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }

            &--new {
                background-color: $bg-new-restaurant;
                color: $text-color-new-restaurant;
                border-radius: 2px;
                font-family: $text-font;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 65%;
                width: 80px;
                height: 30px;
                margin-top: 10px;
                font-size: 13px;
                font-weight: 600;
                letter-spacing: .2px;
                position: absolute;
                z-index: 1;
            }

            .restaurant__description {
                display: flex;
                flex-direction: row;
                height: 70px;

                &--txt {
                    padding-left: 10px;
                    width: 80%;
                    height: 100%;
                }

                &--title {
                    font-size: 17px;
                    letter-spacing: .5px;
                    padding-top: 15px;
                    padding-bottom: 5px;
                }

                .heart__icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 25px;
                    height: 28px;
                    margin-top: 20px;
                    margin-left: 10px;
                    -webkit-transition: all 2s;
                    transition: all 2s;

                    &:hover {
                        cursor: pointer;
                        background-image: linear-gradient(to left top, $primary-color, $secondary-color);
                        -moz-background-clip: text;
                        -moz-text-fill-color: transparent;
                        -webkit-background-clip: text;
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                        color: transparent;
                        font-weight: bold;
                        -webkit-transition: all 2s;
                        transition: all 2s;
                    }
                }
            }
        }
    }
}

/*###########################*/
/*##### END RESTAURANTS #####*/
/*###########################*/


/**************************************************** Media queries ****************************************************/

/***************************** Large devices (desktop, more/equal than 1024px) *****************************/

@media all and (min-width: 1024px) {

    /*#######################*/
    /*##### FUNCTIONING #####*/
    /*#######################*/

    .functioning-section {

        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        height: 180px;

        h2 {
            margin-left: 0;
        }

        .functioning {
            flex-direction: row;
            height: 80px;

            &__element {
                width: 30%;
            }
        }
    }

    /*#######################*/
    /*##### RESTAURANTS #####*/
    /*#######################*/

    #restaurants {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 10px;
        height: 600px;

        .restaurants__container {
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        h2 {
            width: 100%;
            margin-left: 0;
        }

        .restaurant__link {
            width: 45%;

            .restaurant__card {

                &--new {
                    margin-left: 28%;
                }

                .restaurant__description {

                    .heart__icon {
                        margin-left: 30px;
                    }
                }
            }
        }
    }
}