/*#############################*/
/*#############################*/
/*##### RESTAURANTS PAGES #####*/
/*#############################*/
/*#############################*/

.container__img {
    height: 260px;
    margin-bottom: -50px;
    position: relative;
    z-index: 1;

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.menu {
    background-color: $bg-light-grey;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-top: 20px;
    position: relative;
    z-index: 2;

    &__title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        margin-left: 5%;
    }

    h1 {
        font-family: $logo-and-titles-font;
        font-weight: 500;
        font-size: 30px;
        margin-left: 10px;
    }

    .heart__icon--restaurant {
        font-size: 25px;
        height: 28px;
        margin-top: 8px;
        margin-right: 30px;

        &:hover {
            cursor: pointer;
            background-image: linear-gradient(to left top, $primary-color, $secondary-color);
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            color: transparent;
            font-weight: bold;
            transition: all 2s;
        }
    }

    &__step {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 35px;

        h2 {
            text-transform: uppercase;
            font-size: 17px;
            margin-bottom: 5px;
            font-weight: 100;
            max-width: 10%;
            font-family: $text-font;
            border-bottom-style: solid;
            border-bottom-color: $tertiary-color;
            margin-left: -80%;
        }
    }

    &__item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 20px;
        height: 39px;
        margin-top: 15px;
        width: 85%;
        padding: 15px;
        font-family: $text-font;
        background-color: #FFFFFF;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px;

        &--text {
            height: 50px;
            width: 90%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        h3 {
            overflow: hidden;
            text-overflow: ellipsis;
            height: 50%;
        }

        &--description {
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 15px;
            height: 30px;
        }

        &--price {
            margin-top: 25px;
            margin-right: -25px;
            font-weight: 800;
            transition: all 1.2s ease-in-out;
        }

        .selected {
            transform: translateX(0%);
            width: 0px;
            height: 28px;
            padding: 20px 15px 20px 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0 20px 20px 0;
            margin: -15px -15px 0 0;
            transition: all 0.7s ease-in-out;

            &__icon {
                scale: 0;
                transform: translateX(0%);
                color: $tertiary-color;
                border-radius: 25px;
                padding: 3px;
                background-color: white;
                transition: all 0.5s ease-in-out;
            }
        }
    }

    @keyframes progressive-display {
        0% {
            transform: translateY(60%);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .menu__item:nth-of-type(1) {
        animation: progressive-display 900ms ease-in-out;
    }

    .menu__item:nth-of-type(2) {
        animation: progressive-display 1500ms ease-in-out;
    }

    .menu__item:nth-of-type(3) {
        animation: progressive-display 2300ms ease-in-out;
    }

    .menu__item:nth-of-type(4) {
        animation: progressive-display 3300ms ease-in-out;
    }

    .menu__item:hover {

        .menu__item--price {
            margin-right: 5px;
            transition: all 0.5s ease-in-out;
        }

        .selected {
            transform: translateX(-1%);
            height: 29px;
            width: 30px;
            background-color: $tertiary-color;
            padding: 20px 15px 20px 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0 20px 20px 0;
            margin: -15px -15px 0 0;
            transition: all 0.5s ease-in-out;

            &__icon {
                scale: 1;
                color: $tertiary-color;
                border-radius: 25px;
                padding: 3px;
                background-color: white;
                transition: all 0.7s ease-in-out;
                transform: translateX(-1%);
            }
        }
    }

    .order__button__container {
        display: flex;
        justify-content: center;

            .order__button:hover {
                box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 15px;
                @include btn-lightening();
            }
    }
}

/**************************************************** Media queries ****************************************************/

/***************************** Large devices (desktop, more/equal than 1024px) *****************************/

@media all and (min-width: 1024px) {

    /*#############################*/
    /*#############################*/
    /*##### RESTAURANTS PAGES #####*/
    /*#############################*/
    /*#############################*/

    .container__img {
        height: 390px;

        img {
            object-fit: fill;
            height: 100%;
            width: 100%;
        }
    }

    .menu {
        width: 60%;
        margin-left: 20%;
        display: flex;
        align-items: center;

        &__title {
            justify-content: center;

            .card-icon {
                margin-left: 25px;
            }

            .heart__icon--restaurant {
                font-size: 25px;
                height: 28px;
                margin-top: 8px;
                margin-left: 40px;
            }
        }

        &__step {
            width: 70%;

            h2 {
                width: 6%;
            }
        }
    }
}