/*########################*/
/*##### GOOGLE FONTS #####*/
/*########################*/

@import url(https://fonts.googleapis.com/css?family=Shrikhand);
@import url(https://fonts.googleapis.com/css?family=Roboto);

$logo-and-titles-font: 'Shrikhand';
$text-font: 'Roboto';

/*##################*/
/*##### COLORS #####*/
/*##################*/

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$bg-dark_grey: #EAEAEA;
$bg-light-grey: #F6F6F6;
$bg-new-restaurant: #99E2D0;
$bg-footer: #353535;

$text-color-new-restaurant: #008766;
